
.container{
	width:1300px;
	height:2700px;
	background:linear-gradient( #7D3C98,#0E6655 );
	margin:auto;
}
.header{
	width:1300px;
	height:80px;
	background:linear-gradient(#17202A , #0B5345);
}
.para-1{
	margin:auto;
	padding:2px;
	font-size:70px;
	color:#FFC300;
	text-align:center;  
}
.mark{
	width:99.50%;
	height:100px;
	background:linear-gradient(to right, #E59866, #F7DC6F);
	border:solid black;
}
.para-2{
	margin:auto;
	padding:29px;
	font-size:25px;
	color:#900C3F;
}
.content-part1{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden; 
}
.content-part2{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.content-part3{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-1{
	width:33.33%;
	height:200px;
	background:linear-gradient(45deg, #B2BABB, #EDBB99);
	float:left;
}
.L1{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-2{
	width:33.33%;
	height:200px;
	background:linear-gradient(#229954, #85C1E9);
	float:left;
}
.L2{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-3{
	width:33.33%;
	height:200px;
	background:linear-gradient(#F8C471, #C39BD3);
	float:left;
}
.L3{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-4{
	width:33.33%;
	height:200px;
	background:linear-gradient(#BDC3C7, #F8C471);
	float:left;
}
.L4{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-5{
	width:33.33%;
	height:200px;
	background:linear-gradient( -45deg, #76D7C4, #F5B7B1);
	float:left;
}
.L5{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-6{
	width:33.33%;
	height:200px;
	background:linear-gradient(#28B463, #F5B041);
	float:left;
}
.L6 {
	font-size:30px;
	color:black;
	text-align:center;
}
.part-7{
	width:33.33%;
	height:200px;
	background:linear-gradient(#641E16, #F7DC6F);
	float:left;
}
.L7{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-8{
	width:33.33%;
	height:200px;
	background:linear-gradient(-45deg, #0E6251, #76D7C4);
	float:left;
}
.L8{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-9{
	width:33.33%;
	height:200px;
	background:linear-gradient(45deg, #ABEBC6, #4A235A);
	float:left;
}
.L9 {
	font-size:30px;
	color:black;
	text-align:center;
}
.content-part4{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-10{
	width:33.33%;
	height:200px;
	background:linear-gradient(to right ,#154360,#CD6155);
	float:left;
}
.L10{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-11{
	width:33.33%;
	height:200px;
	background:linear-gradient(#626567, #F4F6F6);
	float:left;
}
.L11{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-12{
	width:33.33%;
	height:200px;
	background:linear-gradient(to right, #17202A, #D6DBDF);
	float:left;
}
.L12 {
	font-size:30px;
	color:black;
	text-align:center;
}
.content-part5{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-13{
	width:33.33%;
	height:200px;
	background:linear-gradient(#839192, #1D8348);
	float:left;
}
.L13{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-14{
	width:33.33%;
	height:200px;
	background:linear-gradient(#1D8348, #2874A6);
	float:left;
}
.L14{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-15{
	width:33.33%;
	height:200px;
	background:linear-gradient(#F4D03F, #7D3C98);
	float:left;
}
.L15 {
	font-size:30px;
	color:black;
	text-align:center;
}
.content-part6{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-16{
	width:33.33%;
	height:200px;
	background:linear-gradient(to right ,#C0392B, #58D68D);
	float:left;
}
.L16{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-17{
	width:33.33%;
	height:200px;
	background:linear-gradient(#138D75, #76D7C4);
	float:left;
}
.L17{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-18{
	width:33.33%;
	height:200px;
	background:linear-gradient(45deg, #F1C40F, #C70039);
	float:left;
}
.L18 {
	font-size:30px;
	color:black;
	text-align:center;
}
.content-part7{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-19{
	width:33.33%;
	height:200px;
	background:linear-gradient(-45deg, #138D75, #F1C40F);
	float:left;
}
.L19{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-20{
	width:33.33%;
	height:200px;
	background:linear-gradient(#8E44AD, #CB4335);
	float:left;
}
.L20{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-21{
	width:33.33%;
	height:200px;
	background:linear-gradient(#82E0AA, #D35400);
	float:left;
}
.L21 {
	font-size:30px;
	color:black;
	text-align:center;
}
.content-part8{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-22{
	width:33.33%;
	height:200px;
	background:linear-gradient(#8E44AD, #F1C40F);
	float:left;
}
.L22{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-23{
	width:33.33%;
	height:200px;
	background:linear-gradient(#CA6F1E ,#A569BD);
	float:left;
}
.L23{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-24{
	width:33.33%;
	height:200px;
	background:linear-gradient(#EC7063, #229954);
	float:left;
}
.L24 {
	font-size:30px;
	color:black;
	text-align:center;
}
.content-part9{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-25{
	width:33.33%;
	height:200px;
	background:linear-gradient(#1B4F72, #A3E4D7);
	float:left;
}
.L25{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-26{
	width:33.33%;
	height:200px;
	background:linear-gradient(-45deg, #FA1E05, #F7FA05);
	float:left;
}
.L26{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-27{
	width:33.33%;
	height:200px;
	background:linear-gradient(#87884F,#229954);
	float:left;
}
.L27 {
	font-size:30px;
	color:black;
	text-align:center;
}
.content-part10{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-28{
	width:33.33%;
	height:200px;
	background:linear-gradient(#808B96, #C0392B);
	float:left;
}
.L28{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-29{
	width:33.33%;
	height:200px;
	background:linear-gradient(#C13EEB, #EB3E63);
	float:left;
}
.L29{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-30{
	width:33.33%;
	height:200px;
	background:linear-gradient(to right, #C0392B, #C70039);
	float:left;
}
.L30 {
	font-size:30px;
	color:black;
	text-align:center;
}
.content-part11{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-31{
	width:33.33%;
	height:200px;
	background:linear-gradient(#F5B041, #F1C40F);
	float:left;
}
.L31{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-32{
	width:33.33%;
	height:200px;
	background:linear-gradient(#A04000, #82E0AA);
	float:left;
}
.L32{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-33{
	width:33.33%;
	height:200px;
	background:linear-gradient(#1B4F72,#76D7C4);
	float:left;
}
.L33 {
	font-size:30px;
	color:black;
	text-align:center;
}
.content-part12{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-34{
	width:33.33%;
	height:200px;
	background:linear-gradient(#17A589, #F4D03F);
	float:left;
}
.L34{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-35{
	width:33.33%;
	height:200px;
	background:linear-gradient(#D35400, #A569BD);
	float:left;
}
.L35{
	font-size:30px;
	color:black;
	text-align:center;
}
.part-36{
	width:33.33%;
	height:200px;
	background:linear-gradient(#145A32, #F1C40F);
	float:left;
}
.L36 {
	font-size:30px;
	color:black;
	text-align:center;
}
.footer{
	width:100%;
	height:120px;
	background:#9E60DF;
	padding:0px; 
}
.fp{
	font-size:20px;
	color:white;
	padding:0px;
    text-align:right;
    padding:20px 50px 200px 800px; 
}
