
.container{
	width:1300px;
	height:2700px;
	background:purple;
	margin:auto;
}
.header{
	width:1300px;
	height:80px;
	background:blue;
}
.para-1{
	margin:auto;
	padding:2px;
	font-size:70px;
	color:#FFC300;
	text-align:center;  
}
.mark{
	width:100%;
	height:100px;
	background:#DFDC60;
}
.para-2{
	margin:auto;
	padding:29px;
	font-size:25px;
	color:#900C3F;
}
.content-part1{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden; 
}
.content-part2{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.content-part3{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-1{
	width:33.33%;
	height:200px;
	background:#F3927D;
	float:left;
}
.L1{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-2{
	width:33.33%;
	height:200px;
	background:#B470FB;
	float:left;
}
.L2{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-3{
	width:33.33%;
	height:200px;
	background:white;
	float:left;
}
.L3{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-4{
	width:33.33%;
	height:200px;
	background:white;
	float:left;
}
.L4{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-5{
	width:33.33%;
	height:200px;
	background:green;
	float:left;
}
.L5{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-6{
	width:33.33%;
	height:200px;
	background:red;
	float:left;
}
.L6 {
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-7{
	width:33.33%;
	height:200px;
	background:blue;
	float:left;
}
.L7{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-8{
	width:33.33%;
	height:200px;
	background:white;
	float:left;
}
.L8{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-9{
	width:33.33%;
	height:200px;
	background:green;
	float:left;
}
.L9 {
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.content-part4{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-10{
	width:33.33%;
	height:200px;
	background:blue;
	float:left;
}
.L10{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-11{
	width:33.33%;
	height:200px;
	background:white;
	float:left;
}
.L11{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-12{
	width:33.33%;
	height:200px;
	background:green;
	float:left;
}
.L12 {
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.content-part5{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-13{
	width:33.33%;
	height:200px;
	background:blue;
	float:left;
}
.L13{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-14{
	width:33.33%;
	height:200px;
	background:white;
	float:left;
}
.L14{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-15{
	width:33.33%;
	height:200px;
	background:green;
	float:left;
}
.L15 {
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.content-part6{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-16{
	width:33.33%;
	height:200px;
	background:blue;
	float:left;
}
.L16{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-17{
	width:33.33%;
	height:200px;
	background:white;
	float:left;
}
.L17{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-18{
	width:33.33%;
	height:200px;
	background:green;
	float:left;
}
.L18 {
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.content-part7{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-19{
	width:33.33%;
	height:200px;
	background:blue;
	float:left;
}
.L19{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-20{
	width:33.33%;
	height:200px;
	background:white;
	float:left;
}
.L20{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-21{
	width:33.33%;
	height:200px;
	background:green;
	float:left;
}
.L21 {
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.content-part8{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-22{
	width:33.33%;
	height:200px;
	background:blue;
	float:left;
}
.L22{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-23{
	width:33.33%;
	height:200px;
	background:white;
	float:left;
}
.L23{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-24{
	width:33.33%;
	height:200px;
	background:green;
	float:left;
}
.L24 {
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.content-part9{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-25{
	width:33.33%;
	height:200px;
	background:blue;
	float:left;
}
.L25{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-26{
	width:33.33%;
	height:200px;
	background:white;
	float:left;
}
.L26{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-27{
	width:33.33%;
	height:200px;
	background:green;
	float:left;
}
.L27 {
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.content-part10{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-28{
	width:33.33%;
	height:200px;
	background:blue;
	float:left;
}
.L28{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-29{
	width:33.33%;
	height:200px;
	background:white;
	float:left;
}
.L29{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-30{
	width:33.33%;
	height:200px;
	background:green;
	float:left;
}
.L30 {
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.content-part11{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-31{
	width:33.33%;
	height:200px;
	background:blue;
	float:left;
}
.L31{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-32{
	width:33.33%;
	height:200px;
	background:white;
	float:left;
}
.L32{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-33{
	width:33.33%;
	height:200px;
	background:green;
	float:left;
}
.L33 {
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.content-part12{
	width:1000px;
	height:200px;
	background:#800000;
	margin:auto;
	float:bottom;
	overflow:hidden;  
}
.part-34{
	width:33.33%;
	height:200px;
	background:blue;
	float:left;
}
.L34{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-35{
	width:33.33%;
	height:200px;
	background:white;
	float:left;
}
.L35{
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.part-36{
	width:33.33%;
	height:200px;
	background:green;
	float:left;
}
.L36 {
	font-size:50px;
	color:black;
	padding:15px;
	text-align:center;
}
.footer{
	width:100%;
	height:120px;
	background:#9E60DF;
	padding:0px; 
}
.fp{
	font-size:20px;
	color:white;
	padding:0px;
    text-align:right;
    padding:20px 50px 200px 800px; 
}
